header {
    background-color: rgb(116, 56, 13); 
    color: white; 
    padding: 1rem; 
}

body {
    background-color:rgb(197, 197, 197);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}

.alert-error {
    color: red;
}

select {
    font-size: .9rem;
    padding: 4px 25px;
    margin-left: 25px;
    border-radius: 20px;
}