#root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@media (max-width: 767px) {
  body {
    width: 768px;
  }
  #main {
    flex-direction: column;
    align-items: stretch;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
  }
  .right-div {
    width: 100%;
  }
  .left-div {
    width: 100%;
  }
}
.alert-error {
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.h1 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px;
}

.right-div {
  color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
  flex-grow: 1;
  height: 200px;
  width: 200px;
}

.left-div {
  color: brown;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;

  align-items: right;
  margin: 10px;
}
header {
  width: 800px;
  height: 70px;
  background-color: purple;
  text-emphasis-color: white;
  text-align: left;
}
.info-container {
  text-align: left;
  width: 40;
  height: 30;
}
table {
  table-layout: fixed;
  color: rgb(0, 0, 0, 81%);
}

table td {
  vertical-align: top;
}
.repo-container,
.contributor-container {
  background: white;
  flex: 1;
  margin-top: 15px;
}

.repo-container {
  margin-right: 5px;
  padding: 16px;
}

.left-cell {
  font-weight: bold;
  margin-right: 15px;
}
.repo-child {
  font-size: 16px;
}

.contributor-header {
  font-size: 1rem;
  padding: 8px 16px 4px 5px;
  color: rgb(0, 0, 0, 54%);
  margin-left: 15px;
}
.contributor-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.image {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  margin-right: 18px;
  margin-bottom: 20px;
}
.contributor-badge {
  font-size: 12px;
  background-color: gray;
  font-size: 12px;
  padding: 2px 8px;
  line-height: 1rem;
  color: white;
  border-radius: 4px;
}
.contributor-data {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
